* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1;
  width: 100%;
  /* height: 100vh; */
  height: 2500px;
  display: flex;
  /* overflow: hidden; */
  font-family: "Raleway", sans-serif;
  background-color: #f0f0f0;
}

.intro {
  position: absolute;
  font-size: xx-large;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.namecenterpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute; 
  height: 90%;
  bottom: 0;
  z-index: 0;
}

.socials {
  font-size: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.namecenterpage .a {
  left: 50;
  top: 50;
  font-weight: normal;
  position: absolute;
  letter-spacing: 0.7rem;
  z-index: 2;
}

.namecenterpage .b {
  font-size: x-large;
  font-weight: 800;
  /* background-color: black;
  color: white; */
  left: 50;
  top: 30px;
  position: absolute;
  letter-spacing: 0.5rem;
  z-index: 2;
}

.namecenterpage .c {
  font-weight: normal;
  left: 48;
  bottom: 320px;
  position: absolute;
  letter-spacing: 0.1rem;
  z-index: 2;
}

.credits {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.namecenterpage .square {
  width: 300px;
  height: 300px;
  background-color: #fff;
  z-index: 1;
  border-radius: 3%;
}

.namecenterpage .selection {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 3;
}

.audio-player {
  width: 50px;
  height: 50px;
}

.container_mouse {
  display: none;
  position: absolute;
  top: 70%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
  left: 50%;
  z-index: 2;
}

#about {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* Animation keyframes */
@keyframes pulse {
  from {
    transform: scale(2.8); /* This sets the starting scale of the square */
  }
  to {
    transform: scale(2.7); /* This sets the ending scale of the square */
  }
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
}
