* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  background-color: #f0f0f0;
}

.namecenterpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.namecenterpage .a {
  left: 50;
  top: 50;
  position: absolute;
  letter-spacing: 0.7rem;
}

.namecenterpage .square {
  width: 300px;
  height: 300px;
  background-color: #fff;
  z-index: 0;
}

